/* #global-rules */
* {
  box-sizing: border-box;
}



/* #typography */
@font-face {
  font-family: 'Pixel Operator 8';
  src: url('PixelOperator8.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Pixel Operator 8';
  src: url('PixelOperator8-Bold.ttf') format('truetype');
  font-weight: bold;
}

html {
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #222;
  text-transform: lowercase;
}

h1, .tagline {
  font-family: 'Pixel Operator 8', sans-serif;
}

h1 {
  font-size: 1.5rem;
}

p, li, label, input, textarea, button {
  font-size: 1.5rem;
}

.long-text {
  text-transform: none;
}

button {
  text-transform: inherit;
}



/* #links */
a {
  color: #ee1c47;
  text-decoration: none;
}

a[href^="http"]::after {
  margin-left: .5rem;
  content: url('external-link.svg');
}

a:hover {
  border-bottom: 2px solid #ee1c47;
}

a:focus {
  outline: 2px solid #ee1c47;
}



/* #lists */
ul {
  list-style: none;
  padding-left: 1.5rem;
}



/* #forms */
label, input, textarea {
  display: block;
  margin: .25rem 0;
}

input, textarea {
  width: 100%;
  border: 2px solid #222;
  padding: .25rem;
}

input {
  max-width: 20rem;
}

textarea {
  resize: none;
  max-width: 40rem;
}

button {
  background: #ee1c47;
  color: white;
  border: none;
  padding: .5rem 1rem;
  cursor: pointer;
}

.field {
  margin: 1rem 0;
}



/* #blocks */
body {
  margin: 0 1rem;
}

h1, p {
  margin: 1rem 0;
}

.logo {
  height: 50px;
  fill: #ee1c47;
}

.main-header {
  margin: 2rem 0;
}

.main-header > h1 {
  display: none;
}

.tagline {
  margin: .25rem 0;
}

section {
  margin: 4rem 0;
}

li {
  margin: .8rem 0;
}



/* #queries */
@media screen and (min-width: 600px) {
  body {
    margin: 0 3rem;
  }
}

@media screen and (min-width: 1200px) {
  body {
    margin: 0 20rem;
  }
}

@media screen and (min-width: 1700px) {
  body {
    margin: 0 30rem;
  }
}