/* #global-rules */
* {
  box-sizing: border-box;
}



/* #typography */
@font-face {
  font-family: 'Pixel Operator 8';
  src: url('assets/PixelOperator8.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Pixel Operator 8';
  src: url('assets/PixelOperator8-Bold.ttf') format('truetype');
  font-weight: bold;
}

html {
  font-family: 'Pixel Operator 8', sans-serif;
  font-size: 16px;
  line-height: 2;
  color: #222;
}

h1 {
  font-size: 1.5rem;
}

h2, p, li, label, input, textarea, button {
  font-size: 1rem;
}

h1, label, button, .tagline, .contacts {
  text-transform: lowercase;
}



/* #links */
a {
  color: #ee1c47;
  text-decoration: none;
}

a[href^="http"]::after {
  margin-left: .5rem;
  content: url('assets/external-link.svg');
}

a:hover {
  border-bottom: 2px solid #ee1c47;
}

a:focus {
  outline: none;
}

a:focus::before {
  content: '>';
  margin-right: .25rem;
}



/* #lists */
ul {
  list-style: url('assets/bullet.svg');
  padding-left: 3rem;
}



/* #forms */
label, input, textarea {
  display: block;
  margin: .25rem 0;
}

input, textarea {
  width: 100%;
  border: 2px solid #222;
  padding: .25rem;
}

input:focus, textarea:focus {
  border-color: #ee1c47;
}

input {
  max-width: 400px;
}

textarea {
  resize: none;
  max-width: 40rem;
}

button {
  background: #ee1c47;
  color: white;
  border: none;
  padding: .5rem 1rem;
  cursor: pointer;
}

.field {
  margin: 1rem 0;
}



/* #blocks */
body {
  margin: 0 1rem;
}

section > header {
  display: flex;
  align-items: center;
}

section > header > h1 {
  margin-right: 1rem;
}

h1 {
  margin: 1.5rem 0;
}

p {
  margin: 1rem 0;
}

.logo {
  height: 50px;
  fill: #ee1c47;
}

body > header {
  margin: 2rem 0;
}

body > header > h1 {
  display: none;
}

.tagline {
  margin: .25rem 0;
}

section {
  margin: 5rem 0;
}

li {
  margin: .8rem 0;
}

.contacts {
  max-width: 40rem;
}

.contacts > ul {
  list-style: none;
  padding: 0;
}

.contacts a::after {
  display: none;
}

.contact {
  display: block;
  border: 2px solid #ee1c47;
  padding: .5rem;
}

.contact:focus::before {
  display: none;
}

.contact:hover h2 {
  text-decoration: underline;
}

.contact:focus h2::before {
  content: '>';
}

.sprite {
  background-repeat: no-repeat;
  animation: two-sprites 1.5s infinite steps(2);
}

.goomba {
  width: 32px;
  height: 32px;
  background-image: url('assets/goomba-sheet.png');
}

.octorok {
  width: 32px;
  height: 30px;
  background-image: url('assets/octorok-sheet.png');
}

.chao {
  width: 28px;
  height: 40px;
  background-image: url('assets/chao-sheet.png');
}

@keyframes two-sprites {
  to {
    background-position: 200% 0%;
  }
}

/* #queries */
@media screen and (min-width: 600px) {
  body {
    margin: 0 3rem;
  }
}

@media screen and (min-width: 1200px) {
  body {
    margin: 0 15rem;
  }

  .logo {
    height: 70px;
  }

  .contacts {
    max-width: 100%;
  }

  .contacts > ul {
    display: flex;
  }

  .contacts > ul > li {
    flex: 1;
    margin-right: 1rem;
  }

  .contacts > ul > li:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 1700px) {
  body {
    margin: 0 30rem;
  }
}
